<app-header></app-header>


<div class="body">

  <div class="content-page w-full justify-center ">
    <div class="text-center mt-2">
      <p class="font-semibold" (click)="openDialog()"> 12/06</p>
    </div>

    <div class="m-20 text-4xl font-bold text-center">
      <p class="">
        NOSSO
        <span class="block color-primary"> ENCONTRO</span>
      </p>
    </div>

    <div class="m-10  ">
      <div class="flex justify-end ">
        <small (click)="openDialogCheat()">te amo</small>
      </div>
      <div class="bg-secundary shadow-xl p-2 rounded form">

        <form action="" [formGroup]="formulario" *ngIf="formulario">
          <div [ngClass]="{'block': currentFormIndex == 1, 'hidden': currentFormIndex != 1}" id="form-one">

            <label class="block text-sm " for="local">Local <span class="text-red-400">*</span></label>
            <input maxlength="120" formControlName="local" class="default-input w-full p-2.5" type="text" id="local"
              aria-label="local" />
            <div id="local-message-error" class="mensagem__erro"
              *ngIf="formulario.get('local')?.errors?.['required'] && formulario.get('local')?.touched">
              Local é obrigatório
            </div>


            <div class="flex justify-end">
              <button-primary [value]="'Próximo'" (click)="nextForm(1)"></button-primary>
            </div>
          </div>

          <div [ngClass]="{'block': currentFormIndex == 2, 'hidden': currentFormIndex != 2}" id="form-two">
            <i class='bx bx-arrow-back text-black text-lg' (click)="returnForm(2)"></i>

            <label class="block text-sm" for="data">Data <span class="text-red-400">*</span></label>
            <input formControlName="data" class="default-input w-full p-2.5" type="date" id="data" aria-label="data" />

            <div id="data-message-error" class="mensagem__erro"
              *ngIf="formulario.get('data')?.errors?.['required'] && formulario.get('data')?.touched">
              Data é obrigatório
            </div>


            <label class="block text-sm" for="hora">Hora <span class="text-red-400">*</span></label>
            <input formControlName="hora" class="default-input w-full p-2.5" type="time" id="hora" aria-label="hora" />
            <div id="hora-message-error" class="mensagem__erro"
              *ngIf="formulario.get('hora')?.errors?.['required'] && formulario.get('hora')?.touched">
              Hora é obrigatório
            </div>
            <div class="flex justify-end">
              <button-primary [value]="'Próximo'" (click)="nextForm(2)"></button-primary>
            </div>
          </div>

          <div [ngClass]="{'block': currentFormIndex == 3, 'hidden': currentFormIndex != 3}" id="form-three">
            <i class='bx bx-arrow-back text-black text-lg' (click)="returnForm(3)"></i>

            <label class="block text-sm" for="argumento">Argumento</label>
            <textarea formControlName="argumento" class="default-input w-full p-2.5" id="argumento"
              aria-label="argumento"></textarea>

            <div class="flex justify-end">
              <button-primary [value]="'Próximo'" (click)="nextForm(3)"></button-primary>
            </div>
          </div>

          <div [ngClass]="{'block': currentFormIndex == 4, 'hidden': currentFormIndex != 4}" id="form-four">
            <i class='bx bx-arrow-back text-black text-lg' (click)="returnForm(4)"></i>

            <label class="block text-sm " for="observacao">Observação</label>
            <textarea formControlName="observacao" class="default-input w-full p-2.5" id="observacao"
              aria-label="observacao"></textarea>


            <div class="flex justify-end">
              <button-primary [value]="'Enviar'" (click)="submitForm()"></button-primary>
            </div>
          </div>
        </form>

        <small class="flex w-full justify-center text-center ">Esse sistema possui algumas coisas escondidas</small>
      </div>
    </div>

    <div class="flex flex-col justify-center items-center">
      <i #myIcon class='bx bxs-heart font-size-inicial text-red-600' (click)="changeSize(myIcon)"></i>
      <!-- <i #myIcon class='bx bx-smile font-size-inicial' (click)="changeSize(myIcon)"></i> -->

      <p *ngIf="this.showMessage" class="text-red-600 font-semibold">Quer namorar comigo?</p>


    </div>


    <div class="flex flex-col justify-center items-center mt-10">
      <p class="text-lg">Últimos registros:</p>

      <div class="w-full mt-0 m-5 pt-0 p-5">
        <ul class="m-5">
          <li>Nenhum registro</li>
          <li>Nenhum registro</li>
          <li>Nenhum registro</li>
          <li>Nenhum registro</li>
        </ul>
      </div>
    </div>
  </div>



</div>

<app-footer></app-footer>

<app-emoji></app-emoji>
