.body {
  background-color: rgb(255, 255, 255);
  height: 100vh;

  display: flex;
  justify-content: center;
}

.content-page {
  width: 100%;
  height: 100%;
}

li {
  background-color: rgb(243, 243, 243);
  border: 1px solid rgb(221, 221, 221);
  width: 100%;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}

.form {
  border: 1px solid #f1f1f1;
  padding: 15px 20px 15px 20px;
  border-radius: 20px;
}

.header {
  background-color: #4caf50;
  position: relative;
  text-align: center;
  padding: 50px 0;
  color: white;
}

.font-size-inicial {
  font-size: 30px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation: pulse 0.4s ease-in-out;
}

.button-select {
  background-color: #1d31e8;
}
