<div class="p-2 m-5 mb-0">

  @if(formulario){
  <form [formGroup]="formulario" class=" w-full mb-0 center justify-center items-center text-center">
    <input class="default-input w-full p-2.5 " formControlName="cheat" type="text" id="cheat" aria-label="cheat"
      required />
  </form>

  @if (!cheat) {
  <div>
    <button-primary [value]="'Enviar'" (click)="onSubmit()"></button-primary>
  </div>
  }

  }
  <div class="p-2">

    @if (cheat) {
    @switch (cheat) {
    @case ('stitch'){
    <div>
      <div class="flex justify-center items-center">
        <img src="assets/stitch.png" alt="">
      </div>
    </div>
    }

    @case ('conteudo' || 'conteúdo' || 'que conteudo' || 'que conteúdo'){
    <div>
      <div class="flex justify-center items-center">
        <p>Que conteúdo você é!! 🤌🏼🤌🏼</p>
      </div>
    </div>
    }


    @case ('forca' || 'força'){
    <div>
      <div class="flex justify-center items-center">
        <p>Quero deixar aqui que admiro muito sua força!

          <span class="block">
            Admiro a mulher que você é!
          </span>

          <span class="block">
            Quero um dia mostrar ao meu filho a
            mulher incrível que tenho ao meu lado!
          </span>

          <span class="block">
            Sou totalmente apaixonado por você, pelo seu sorriso, pela sua coragem
            e
            força!
          </span>

        </p>
      </div>
    </div>
    }

    @case ('juntos' || 'juntos para sempre'){
    <div>
      <div class="flex justify-center items-center">
        <img src="assets/juntos.jpeg" alt="">
      </div>
    </div>

    <div class="flex justify-center items-center py-2 ">
      <p>Essa foto, pra mim, simboliza tudo que passamos e o quanto você foi forte em superar tudo! Quero deixar sempre
        aqui o quanto você significa pra mim. Criamos uma conexão enorme e um carinho imenso um com o outro. Passamos
        por esta situação e iremos passar por outras. Sempre estaremos juntos, independentemente dos motivos que vierem!
        Sempre de mãos dadas.</p>
    </div>
    }


    @default {
    <div class="flex justify-center items-center">
      <small class="text-center text-red">Cheat inválido</small>
    </div>
    }

    }
    }
  </div>
</div>
