<div class="p-2 m-5 mb-0">

  @if(formulario){
  <form [formGroup]="formulario" class=" w-full mb-0 center justify-center items-center text-center">
    <input class="default-input w-full p-2.5 " formControlName="cheat" type="text" id="cheat" aria-label="cheat"
      required />
  </form>

  <div>
    <button-primary [value]="'Enviar'" (click)="onSubmit()"></button-primary>
  </div>
  }

  @if (cheat) {
  @switch (cheat) {
  @case ('stitch'){
  <div>
    <div class="flex justify-center items-center">
      <img src="assets/stitch.png" alt="">
    </div>
  </div>
  }

  @case ('conteudo' || 'conteúdo' || 'que conteudo' || 'que conteúdo'){
  <div>
    <div class="flex justify-center items-center">
      <p>Que conteúdo você é!! 🤌🏼🤌🏼</p>
    </div>
  </div>
  }


  @case ('forca' || 'força'){
  <div>
    <div class="flex justify-center items-center">
      <p>Quero deixar aqui que admiro muito sua força! Admiro a mulher que você é! Quero um dia mostrar ao meu filho a
        mulher incrível que tenho ao meu lado! Sou totalmente apaixonado por você, pelo seu sorriso, pela sua coragem e
        força!</p>
    </div>
  </div>
  }

  @default {
  <div class="flex justify-center items-center">
    <small class="text-center text-red">Cheat inválido</small>
  </div>
  }

  }
  }
</div>
