@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-secundary {
  background-color: #fcfcfc;
}
html,
body {
  height: 100%;
  font-family: "Jost", sans-serif;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  font-family: "Jost", sans-serif;
}

.color-primary {
  color: #1d31e8;
}

.mensagem__erro {
  font-size: 12px;
  color: red;
  padding-top: 5px;
}

.invalid-field {
  border-color: red !important;
  background-color: #f8d7da !important;
}

.default-input {
  background-color: #ffffff;
  border: 1px solid #c9c9c9 !important;
  color: #202020;
  font-size: medium;
  border-radius: 5px;
  display: block;
  margin: 0px 0px 0px 0px;
}

.default-input:focus {
  border: 1px solid #c9fffa;
}

.default-input-disabled {
  background-color: #f0f0f0;
  border: 0px solid #e7e7e7 !important;
  color: #202020;
  font-size: medium;
  border-radius: 5px;
  display: block;
  margin: 0px 0px 0px 0px;
}
